@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      background-color: #262E3A;
      height: 800px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      background-color: #262E3A;
      color: white;
    }
  }